<template>
    <div>
        <b-navbar toggleable="lg" fixed="top">
            <b-navbar-nav>
                <navdrawer/>
            </b-navbar-nav>

            <b><b-navbar-brand href="./">
                <b-img src="../../assets/imgs/logo.png" class="img-logo" style="width:60px;"></b-img>
            </b-navbar-brand></b>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="/services"><h3>Ley842</h3></b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav v-if="isVisible('register')">
                    <b-nav-item href="/register"><h3>Registro</h3></b-nav-item>
                </b-navbar-nav>
                <b-navbar-nav v-if="isVisibleAdmin">
                    <b-nav-item href="/admin"><h3>Administrar</h3></b-nav-item>
                </b-navbar-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto" v-if="search">
                    <div class="group-input">
                        <md-field md-clearable>
                            <font-awesome-icon :icon="['fas', 'search']" class="icon"/>
                            <md-input v-model="searchValue" @keyup="onSearch()"/>
                        </md-field>
                    </div>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
import Vue from 'vue';
import Vuex from 'vuex';
import navdrawer from '~/components/Navdrawer/navdrawer.vue';
import { servicesData } from '@/ts/queries';

export default {
    name: 'navbar',
    props: {},
    components: {
        navdrawer
    },
    data: () => ({
        searchValue: null,
        opcionRegistro: false
    }),
    computed: {
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        },
        optionsMenu () {
            return {
                login: this.$store.state.data.optionsMenu.login,
                register: this.$store.state.data.optionsMenu.register
            };
        },
        search () {
            return this.$store.state.sessionStorage.search;
        },
        roles() {
            return this.$store.state.sessionStorage.roles;
        },
        isVisibleAdmin () {
            return this.authenticated && this.roles.filter((role) => role.name === 'Administrador');
        }
    },
    mounted () {
        this.$store.commit('sessionStorage/setSearchValue', null);
        console.log(this.roles );
    },
    methods: {
        isVisible ( menu ) {
            if (!this.authenticated && menu && menu.trim()!=='') {
                if (this.optionsMenu) {
                    return this.optionsMenu[menu.trim()];
                }
            }
            return false;
        },

        onSearch () {
            this.$store.commit('sessionStorage/setSearchValue', this.searchValue);
        }
    },
}
</script>
<style lang="scss" scoped>
    .navbar {
        background-color: $primary;
        height: 80px;
        padding: 20px 50px;
        @media screen and (max-width: 991px) {
            padding: 0;
            height: 80px;
        }

        a, button, .nav-link, .md-field {
            color: $light-primary;
            text-align: center;
            &:hover {
                color: $light-primary;
            }
        }
        .nav-link {
            text-decoration: none;
            &:hover {
                border-radius: 5px;
                background-color: rgba($secondary, 0.4);
            }
        }

        .navbar-brand {
            text-decoration: none;
            border: 10px;
            border-radius: 5px;
        }

        .navbar-collapse {
            background: $primary;
            .navbar-nav {
                text-align: center;
                @media screen and (max-width: 991px) {
                    padding: 0;
                    width: 100%;
                }
            }
        }
        .ml-auto {
            left: 20px !important;
            @media screen and (max-width: 991px) {
                margin-left: 10px !important;
            }
        }

        .img-logo {
            width: 150px;
        }
        .md-field.md-theme-default::before{
            background-color:$light-primary;
        }
        .md-field .md-textarea{
            color: $light-primary;
        }
        .md-field.md-theme-default.md-focused .md-input,
        .md-field.md-theme-default.md-focused .md-textarea,
        .md-field.md-theme-default.md-highlight .md-input,
        .md-field.md-theme-default.md-highlight .md-textarea{
            color:$light-primary !important;
            -webkit-text-fill-color: $light-primary !important;
        }
    }
    #icon-search{
        width: 2.5vh;
        height: 2.5vh;
        background-color: $primary;
        border-style: none;
    }
    #icon-container{
        background-color:$primary;
        margin-right: 3.2vh;

    }
    #icon-search:hover{
        background-color: rgb(247, 190, 68);
        border-radius: 100%;
    }
</style>
