$primary:#FF9B05  ;
$secondary: #3b3330;
$light-primary: rgb(245, 233, 235);
$dark-primary: darken($primary, 10%);
$light-secondary: lighten($secondary, 10%);
$dark-secondary: darken($secondary, 10%);
$font-primary: undefined;

$colo1: #923149;
$colo2: #3b3330;
$colo3: #ffebe8;
$colo4: #f1cbd3;
$colo5: #fbcc88;
$colo6: #b475a6;
$color7: #fcf5ff;
$color8: #ce258d;
$color9: #89463e;
$color10: #91777e;
