<template>
        <div class="workspaces-container">
            <div class="row">
                <div class="col"></div>
                <img class="col p-5" src="../assets/imgs/Admin.png" alt="">
                <div class="col"></div>
            </div>
        <div class="container">
            <v-data-table
            :headers="workspaces"
            :items="titulos"
            sort-by="calories"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title><h2>Administrar tabla de Títulos</h2></v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    />
                    <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="800px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Crear nuevo Titulo</v-btn>
                        </template>
                        <v-card>

                            <v-card-title>
                                <span class="headline">{{formTitle}}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                          <v-text-field
                                              v-model="editedItemTitulo.cod_titulo"
                                              label="Codigo"
                                              single-line
                                              outlined
                                              dense
                                          />
                                        </v-col>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                            <v-text-field
                                              v-model="editedItemTitulo.nombre_titulo"
                                              label="Nombre"
                                              single-line
                                              outlined
                                              dense
                                            />
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />
                                <v-btn class="btn-save"  @click="saveTitulo">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItemTitulo(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItemTitulo(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
        </div>

      <div class="container">
          <v-data-table
            :headers="capituloslabels"
            :items="capitulos"
            sort-by="calories"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title><h2>Administrar tabla de Capítulos</h2></v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    />
                    <v-spacer></v-spacer>
                        <v-dialog v-model="dialog1" max-width="800px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Crear nuevo Capitulo</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{formCapitulo}}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                          <v-text-field
                                              v-model="editedItemCapitulo.cod_capitulo"
                                              label="Codigo"
                                              single-line
                                              outlined
                                              dense
                                          />
                                        </v-col>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                            <v-text-field
                                              v-model="editedItemCapitulo.nombre_capitulo"
                                              label="Nombre"
                                              single-line
                                              outlined
                                              dense
                                            />
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />
                                <v-btn class="btn-save"  @click="saveCapitulo">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItemCapitulo(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItemCapitulo(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
      </div>

       <div class="container">
           <v-data-table
            :headers="articuloslabels"
            :items="articulos"
            sort-by="calories"
            class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title><h2>Administrar tabla de Artículos</h2></v-toolbar-title>
                    <v-divider
                        class="mx-4"
                        inset
                        vertical
                    />
                    <v-spacer></v-spacer>
                        <v-dialog v-model="dialog2" max-width="800px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark class="mb-2" v-on="on">Crear nuevo Articulo</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{formArticulo}}</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                          <v-text-field
                                              v-model="editedItemArticulo.cod_articulo"
                                              label="Codigo"
                                              single-line
                                              outlined
                                              dense
                                          />
                                        </v-col>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                            <v-text-field
                                              v-model="editedItemArticulo.nombre_articulo"
                                              label="Nombre"
                                              single-line
                                              outlined
                                              dense
                                            />
                                        </v-col>
                                    </v-row>
                                    <v-row>
                                        <v-col class="column" cols="12" sm="6" md="6">
                                            <v-textarea
                                              v-model="editedItemArticulo.descripcion_articulo"
                                              label="Descripción"
                                              single-line
                                              outlined
                                              dense
                                            />
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />
                                <v-btn class="btn-save"  @click="saveArticulo">Guardar</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItemArticulo(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                    small
                    @click="deleteItemArticulo(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
        <!-- MDB -->
       </div>
    </div>
</template>

<script>
import Vue from 'vue';
import { getObjs } from '@/utils/defaults';
import { servicesData, queryRoles, capitulos, getQuery, titulos, articulos } from '@/ts/queries';
import { apiFetch } from '@/utils/apiFetch';
import { createTitulo } from '@/ts/mutations';
import { showAlert } from '@/utils/alerts';

export default Vue.extend({
    components: {
    },


    data: () => ({
        titulosFilter: [] = [],
        titulos: [] = [],
        capitulos: [] = [],
        articulos: [] = [],
        workspaces: [] = [
            { text: 'Código', value: 'cod_titulo' },
            { text: 'Nombre', value: 'nombre_titulo' },
            { text: 'Actions', value: 'actions', sortable: false }
        ],
        capituloslabels: [] = [
            { text: 'Código', value: 'cod_capitulo' },
            { text: 'Nombre', value: 'nombre_capitulo' },
            { text: 'Actions', value: 'actions', sortable: false }
        ],
        articuloslabels: [] = [
            { text: 'Código', value: 'cod_articulo' },
            { text: 'Nombre', value: 'nombre_articulo' },
            { text: 'Descripcion', value: 'descripcion_articulo' },
            { text: 'Actions', value: 'actions', sortable: false }
        ],
        workspacesList: [] = [],
        editedIndexTitulo: -1,
        editedIndexCapitulo: -1,
        editedIndexArticulo: -1,
        editedItemTitulo:  {
            cod_titulo: '',
            nombre_titulo: ''
        },

        editedItemCapitulo:  {
            cod_capitulo: '',
            nombre_capitulo: ''
        },

        editedItemArticulo:  {
            cod_articulo: '',
            nombre_articulo: '',
            descripcion_articulo: ''
        },
        defaultItem: {
            name: '',
            selectedEmployee: ''
        },
        dialog: false,
        dialog1: false,
        dialog2: false,


    }),
    watch: {
      dialog ( value ) {
          value || this.closeTitulo();
      },
      dialog1 ( value ) {
          value || this.closeCapitulo();
      },
      dialog2 ( value ) {
          value || this.closeArticulo();
      }
    },
    computed: {
        searchValue () {
            return this.$store.state.sessionStorage.searchValue;
        },

        services () {
            return this.$store.state.data.cartServices;
        },

        benefits () {
            return this.$store.state.data.benefits;
        },
        titulosAdmin () {
            return this.$store.state.data.titulosDetail;
        },
        formTitle () {
          return this.editedIndexTitulo === -1 ? 'Crear Titulo' : 'Editar Titulo';
        },
        formCapitulo () {
          return this.editedIndexCapitulo === -1 ? 'Crear Capitulo' : 'Editar Capitulo';
        },
        formArticulo () {
          return this.editedIndexArticulo === -1 ? 'Crear Articulo' : 'Editar Articulo';
        },
    },
    beforeMount () {

        this.$store.commit('data/setOptionsMenu', {
            login: true,
            register: true
        });
        this.$store.commit('sessionStorage/setSearch', true);

        this.data();
    },
    mounted () {
        this.workspacesList = this.titulos.map( (titulo) => ( {
            cod_titulo: titulo.cod_titulo,
            nombre_titulo: titulo.nombre_titulo,
            ...titulo
        } ));

        this.initialize();

    },
    methods: {
        getObjs
        ,
        // para titulo funciones coṕiar las mismas para capitulo y articulo
        editItemTitulo ( item ) {
            this.editedIndexTitulo = this.titulos.indexOf( item );
            this.editedItemTitulo = Object.assign( {}, item );
            this.dialog = true;
        },

        async deleteItemTitulo ( item ) {
            const index = this.titulos.indexOf( item );
            confirm( '¿Esta seguro que desea Eiminar este titulo?' ) && this.titulos.splice( index, 1 );
            const mutation = `
                    mutation ($id: ID!) {
                        deleteTitulo( where: {id: $id}
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: item.id,
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Eliminado exitosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo Eliminar el titulo', 'error', this);
                    console.log(err);
                });
        },

        async saveTitulo () {
            if ( this.editedIndexTitulo > -1 ) {
                Object.assign( this.titulos[this.editedIndexTitulo], this.editedItemTitulo );
                const mutation = `
                    mutation ($id: ID!,$cod_titulo: Int, $nombre_titulo: String) {
                        updateTitulo( where: {id: $id}
                            data: {
                                cod_titulo: $cod_titulo
                                nombre_titulo: $nombre_titulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: this.editedItemTitulo.id,
                            cod_titulo: parseInt(this.editedItemTitulo.cod_titulo),
                            nombre_titulo: this.editedItemTitulo.nombre_titulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Usted ha editado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo editar el titulo, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            } else {
                this.titulos.push( this.editedItemTitulo );
                const mutation = `
                    mutation ($cod_titulo: Int, $nombre_titulo: String) {
                        createTitulo(
                            data: {
                                cod_titulo: $cod_titulo
                                nombre_titulo: $nombre_titulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            cod_titulo: parseInt(this.editedItemTitulo.cod_titulo),
                            nombre_titulo: this.editedItemTitulo.nombre_titulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Nuevo titulo creado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo registrar el titulo intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
            this.closeTitulo();
        },

        closeTitulo () {
            this.dialog = false;
            this.$nextTick( () => {
                this.editedItemTitulo = Object.assign( {}, this.defaultItem );
                this.editedIndexTitulo = -1;
            } );
        },

        // capitulos

        editItemCapitulo( item ) {
            this.editedIndexCapitulo = this.capitulos.indexOf( item );
            this.editedItemCapitulo = Object.assign( {}, item );
            this.dialog1 = true;
        },

        async deleteItemCapitulo ( item ) {
            const index = this.capitulos.indexOf( item );
            confirm( '¿Esta seguro que desea Eiminar este capitulo?' ) && this.capitulos.splice( index, 1 );
            const mutation = `
                    mutation ($id: ID!) {
                        deleteCapitulo( where: {id: $id}
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: item.id,
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Eliminado exitosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo Eliminar el capitulo', 'error', this);
                    console.log(err);
                });
        },

        async saveCapitulo () {
            if ( this.editedIndexCapitulo > -1 ) {
                Object.assign( this.capitulos[this.editedIndexCapitulo], this.editedItemCapitulo );
                const mutation = `
                    mutation ($id: ID!,$cod_capitulo: Int, $nombre_capitulo: String) {
                        updateCapitulo( where: {id: $id}
                            data: {
                                cod_capitulo: $cod_capitulo
                                nombre_capitulo: $nombre_capitulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: this.editedItemCapitulo.id,
                            cod_capitulo: parseInt(this.editedItemCapitulo.cod_capitulo),
                            nombre_capitulo: this.editedItemCapitulo.nombre_capitulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Usted ha editado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo editar el capitulo, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            } else {
                this.capitulos.push( this.editedItemCapitulo );
                const mutation = `
                    mutation ($cod_capitulo: Int, $nombre_capitulo: String) {
                        createCapitulo(
                            data: {
                                cod_capitulo: $cod_capitulo
                                nombre_capitulo: $nombre_capitulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            cod_capitulo: parseInt(this.editedItemCapitulo.cod_capitulo),
                            nombre_capitulo: this.editedItemCapitulo.nombre_capitulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Nuevo capitulo creado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo registrar el capitulo intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
            this.closeCapitulo();
        },

        closeCapitulo () {
            this.dialog1 = false;
            this.$nextTick( () => {
                this.editedItemCapitulo = Object.assign( {}, this.defaultItem );
                this.editedIndexCapitulo = -1;
            } );
        },


        // articulos

        editItemArticulo( item ) {
            this.editedIndexArticulo = this.articulos.indexOf( item );
            this.editedItemArticulo = Object.assign( {}, item );
            this.dialog2 = true;
        },

        async deleteItemArticulo ( item ) {
            const index = this.articulos.indexOf( item );
            confirm( '¿Esta seguro que desea Eiminar este articulo?' ) && this.articulos.splice( index, 1 );
            const mutation = `
                    mutation ($id: ID!) {
                        deleteArticulo( where: {id: $id}
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: item.id,
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Eliminado exitosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo Eliminar el articulo', 'error', this);
                    console.log(err);
                });
        },

        async saveArticulo () {
            if ( this.editedIndexArticulo > -1 ) {
                Object.assign( this.articulos[this.editedIndexArticulo], this.editedItemArticulo );
                const mutation = `
                    mutation ($id: ID!,$cod_articulo: Int, $nombre_articulo: String, $descripcion_articulo: String ) {
                        updateArticulo( where: {id: $id}
                            data: {
                                cod_articulo: $cod_articulo
                                nombre_articulo: $nombre_articulo
                                descripcion_articulo: $descripcion_articulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            id: this.editedItemArticulo.id,
                            cod_articulo: parseInt(this.editedItemArticulo.cod_articulo),
                            nombre_articulo: this.editedItemArticulo.nombre_articulo.trim(),
                            descripcion_articulo: this.editedItemArticulo.descripcion_articulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Usted ha editado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo editar el articulo, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            } else {
                this.capitulos.push( this.editedItemArticulo );
                const mutation = `
                    mutation ($cod_articulo: Int, $nombre_articulo: String, $descripcion_articulo: String) {
                        createArticulo(
                            data: {
                                cod_articulo: $cod_articulo
                                nombre_articulo: $nombre_articulo
                                descripcion_articulo: $descripcion_articulo
                            }
                        ) { id }
                    }
                `;
                await fetch(`https://${process.env.APPLICATION_API}/${process.env.PROJECT_ENVIRONMENT}/api`, {
                    body: JSON.stringify({
                        query: mutation,
                        variables: {
                            cod_articulo: parseInt(this.editedItemArticulo.cod_articulo),
                            nombre_articulo: this.editedItemArticulo.nombre_articulo.trim(),
                            descripcion_articulo: this.editedItemArticulo.descripcion_articulo.trim()
                        }
                    }),
                    method: 'post',
                    headers: {
                        Authorization: `client_id ${process.env.CLIENT_ID}`
                    }
                }).then((res) => {
                    showAlert('Nuevo articulo creado existosamente.', 'success', this, () => {
                        this.$router.push('/admin');
                    });
                }).catch((err) => {
                    showAlert('No se pudo registrar el articulo intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
            this.closeArticulo();
        },

        closeArticulo () {
            this.dialog2 = false;
            this.$nextTick( () => {
                this.editedItemArticulo = Object.assign( {}, this.defaultItem );
                this.editedIndexArticulo = -1;
            } );
        },

      // ======================================================================================================

        async data () {
            await apiFetch(getQuery( [titulos] ), null).then( ( response ) => {
                this.titulos = response.data.titulos;
                console.log( this.titulos );
                this.$store.commit('data/setTitulosDetail', this.titulos);
            });

            await apiFetch(getQuery( [capitulos] ), null).then( ( response ) => {
                this.capitulos = response.data.capitulos;
                console.log( this.capitulos );
            });

            await apiFetch(getQuery( [articulos] ), null).then( ( response ) => {
                this.articulos = response.data.articulos;
                console.log( this.articulos );
            });
        },

      initialize () {
            console.log( this.workspacesList, 'map');
        }
    }

})
</script>

<style lang='scss' scope>

</style>
