<template>
    <div class="main-container">
        <h1>Información de Contacto</h1>
        <info-worker001 :user="user"></info-worker001>
        <sidebar001></sidebar001>
        <description-worker :user="user"></description-worker>
        <galery></galery>
    </div>

</template>

<script>

import Vue from 'vue';
import Vuex from 'vuex';
import sidebar001 from '~/components/Sidebar/sidebar001.vue';
import lastServices001 from '~/components/lastServices/lastServices001.vue';
import infoWorker001 from '~/components/listWorkers/infoWorker001.vue';
import descriptionWorker from '~/components/listWorkers/descriptionWorker.vue';
import galery from '~/components/listWorkers/galery.vue';

export default Vue.extend({
    components: {
        sidebar001,
        infoWorker001,
        descriptionWorker,
        galery
    },
    computed: {
        user () {
            return this.$store.state.sessionStorage.user;
        }

    },
    mounted () {
        console.log(this.user);
        
    }
})
</script>

<style lang='scss' scope>
    $marginService: 10px;
    .main-container {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 100%;
        height: 1400px;
        padding: 100px;
        background-color: $secondary;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: 991px) {
            padding-top:100px !important;
            padding-bottom: 100px !important;
            padding:10px;
            height: auto;
        }

        h1 {
            color: $light-primary;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            @media screen and (max-width: 991px) {
                font-size:15px;
            }
        }
        .list {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .list-card {
                width: calc(33% - #{$marginService} - #{$marginService / 2});
                max-width: 330px;
                margin-bottom: $marginService;
                transition: all 200ms ease-in-out;

                @media screen and (max-width: 991px) {
                    width: 100%;
                    margin: $mobile-margins !important;
                }

                &:nth-child(odd) {
                    margin-right: $marginService / 2;
                    margin-left: $marginService;
                }

                &:nth-child(even) {
                    margin-left: $marginService / 2;
                    margin-right: $marginService;
                }
            }
        }
    }
</style>