<template>
    <div class="index-container">
            <div class="row">
                <div class="col"></div>
                <img class="col p-5 m-5" src="../assets/imgs/bienvenidos.png" alt="">
                <div class="col"></div>
            </div>
            <v-carousel class="carousel-index" cycle :show-arrows="false">
            <v-carousel-item
              v-for="(item,i) in items"
              :key="i"
              :src="item.src"
            ></v-carousel-item>
        </v-carousel>
        <div class="header-notice">
          <h3 class="title-notice">Noticias Copnia</h3>
          <v-divider class="line-notice"></v-divider>
        </div>
        <v-timeline :dense="$vuetify.breakpoint.smAndDown" class="notice">
            <v-timeline-item
                color="purple lighten-2"
                fill-dot
                right
                class=""
            >
                <v-card>
                    <v-card-title class="card1-title-index">
                        <v-icon
                            dark
                            size="42"
                            class="mr-4"
                        >
                            mdi-magnify
                        </v-icon>
                        <h4>
                            Convocatoria mixta, planta temporal 2021
                        </h4>
                    </v-card-title>
                    <v-container>
                        <v-row>
                            <v-col
                              cols="12"
                              md="10"
                            >
                              El Consejo Profesional Nacional de Ingeniería COPNIA invita a las
                              personas interesadas y que cumplan con los requisitos mínimos del
                              cargo a para participar en la convocatoria para la provisión de los
                              cargos de la Planta Temporal 2021 que se describe...
                              <a class="see-more" href="https://www.copnia.gov.co/noticias/convocatoria-mixta-planta-temporal-2021">
                                Leer más
                              </a>
                            </v-col>
                            <v-col
                                class="hidden-sm-and-down text-right"
                                md="2"
                                >
                                <v-icon size="64">
                                    mdi-calendar-text
                                </v-icon>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-timeline-item>
            <v-timeline-item
              color="amber lighten-1"
              fill-dot
              left
              small
            >
                <v-card>
                  <v-card-title class="card2-title-index">
                      <h4>
                          Citación a pruebas, convocatoria abogado, seccional Boyacá
                      </h4>
                      <v-icon
                          dark
                          size="42"
                      >
                        mdi-home-outline
                      </v-icon>
                  </v-card-title>
                  <v-container>
                      <v-row>
                          <v-col
                              cols="12"
                              md="8"
                          >
                              El área de gestión humana del Consejo Profesional Nacional de Ingeniería,
                              publica la citación para presentación de pruebas de la convocatoria para Abogado Seccional Boyacá.
                              <a class="see-more" href="https://www.copnia.gov.co/noticias/citacion-pruebas-convocatoria-abogado-seccional-boyaca">
                                Leer más
                              </a>
                          </v-col>
                      </v-row>
                  </v-container>
                </v-card>
            </v-timeline-item>
            <v-timeline-item
                color="cyan lighten-1"
                fill-dot
                right
            >
                <v-card>
                    <v-card-title class="card3-title-index">
                        <v-icon
                            dark
                            size="42"
                        >
                            mdi-account-multiple-outline
                        </v-icon>
                        <h4>
                            Resultado final - convocatoria interna planta temporal
                        </h4>
                    </v-card-title>
                    <v-container>
                        <v-row>
                            <v-col
                                cols="12"
                                md="8"
                            >
                                El Consejo Profesional Nacional de Ingeniería -COPNIA, se permite...
                                publica la citación para presentación de pruebas de la convocatoria para Abogado Seccional Boyacá.
                              <a class="see-more" href="https://www.copnia.gov.co/noticias/resultado-final-convocatoria-interna-planta-temporal">
                                  Leer más
                              </a>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-timeline-item>
            <v-timeline-item
                color="red lighten-1"
                fill-dot
                left
                small
            >
                <v-card>
                    <v-card-title class="card4-title-index">
                        <h4>
                            CERTIFICADO DE VIGENCIA Y ANTECEDENTES DISCIPLINARIOS
                        </h4>
                        <v-icon
                            dark
                            size="42"
                        >
                            mdi-account-multiple-outline
                        </v-icon>
                    </v-card-title>
                    <v-container>
                        <v-row>
                            <v-col
                                class="hidden-sm-and-down"
                                md="2"
                            >
                                <v-icon size="64">
                                  mdi-server-network
                                </v-icon>
                            </v-col>
                            <v-col
                              cols="12"
                              md="10"
                            >
                                El Consejo Profesional Nacional de Ingeniería - COPNIA, es la entidad pública del orden nacional,
                                encargada de la función administrativa de control y vigilancia del ejercicio de la...
                                <a class="see-more" href="https://www.copnia.gov.co/noticias/certificado-de-vigencia-y-antecedentes-disciplinarios">
                                    Leer más
                                </a>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-timeline-item>
            <v-timeline-item
                color="green lighten-1"
                fill-dot
                right
            >
                <v-card>
                    <v-card-title class="card5-title-index">
                        <v-icon
                            class="mr-4"
                            dark
                            size="42"
                        >
                            mdi-phone-in-talk
                        </v-icon>
                        <h4>
                            Participe en la construcción del Plan Anticorrupción 20
                        </h4>
                    </v-card-title>
                    <v-container>
                        <v-row>
                          <v-col>
                              La Subdirección de Planeación, Control y Seguimiento del Consejo Profesional Nacional de Ingeniería...
                              <a class="see-more" href="https://www.copnia.gov.co/noticias/participe-en-la-construccion-del-plan-anticorrupcion-2021">
                                  Leer más
                              </a>
                          </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-timeline-item>
            <v-timeline-item
                color="amber lighten-1"
                fill-dot
                left
                small
            >
                <v-card>
                  <v-card-title class="card1-title-index">
                      <h4>
                          Tarifas vigencia 2021
                      </h4>
                      <v-icon
                          dark
                          size="42"
                      >
                          mdi-weight
                      </v-icon>
                  </v-card-title>
                  <v-container>
                      <v-row>
                          <v-col
                              cols="12"
                              md="8"
                          >
                              El Consejo Profesional Nacional de Ingeniería – COPNIA, informa a la ciudadanía que, de acuerdo con lo establecido...
                              <a class="see-more" href="https://www.copnia.gov.co/noticias/tarifas-vigencia-2021">
                                Leer más
                              </a>
                          </v-col>
                      </v-row>
                  </v-container>
                </v-card>
            </v-timeline-item>
        </v-timeline>
        <iframe class="video" src="https://www.youtube.com/embed/YCcsFHTIOls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</template>

<script>
import Vue from 'vue';
import banner001 from '~/components/Banner/banner001.vue';
import card001 from '~/components/Card/card001.vue';
import { images } from '@/ts/queries';
import { getObjs } from '@/utils/defaults';


export default Vue.extend({
    components: {
        banner001,
        card001
    },


    data: () => ({
        images: [] = [],
        imagesList: [] = [
            '@/assets/consulting2.png',
            '@/assets/experience.png',
            '@/assets/partnership-handshake.png'
        ],
        benefitApiNode: [] = [],
        model: 0,
        items: [] = [
          {
            src: 'https://www.copnia.gov.co/sites/default/files/styles/slider_home_lg/public/node/article/field_image/Banner%20convocatoria%20mixta-01_0.jpg?itok=JHZ7z1dM'
          },
          {
            src: 'https://www.copnia.gov.co/sites/default/files/styles/slider_home_lg/public/node/article/field_image/Banner%20PAAC-01.jpg?itok=QSoR2Y5a',
          },
          {
            src: 'https://www.copnia.gov.co/sites/default/files/styles/slider_home_lg/public/node/article/field_image/Banner%20certificados-01_0.jpg?itok=VEksXYFv',
          }
        ],
    }),
    computed: {
        searchValue () {
            return this.$store.state.sessionStorage.searchValue;
        },

        services () {
            return this.$store.state.data.cartServices;
        },

        benefits () {
            return this.$store.state.data.benefits;
        }
    },
    mounted () {
        this.$store.commit('data/setOptionsMenu', {
            login: true,
            register: true
        });
        this.$store.commit('sessionStorage/setSearch', true);
        this.readData();
    },
    methods: {
        getRedirect(benefit) {
            this.$store.commit( 'data/benefitDetail', benefit );
            this.$router.push( '/information1' );
        },
        getObjs
        ,
        readData () {
            return fetch('http://localhost:4000/api/benefit', {
                method: 'get'
            })
            .then(res => res.json())
            .then( data => {
                console.log(data);
                this.benefitApiNode = data;
            })
            .catch((err) => {
                console.log(err);
            });

        },
    }

})
</script>

<style lang='scss' scope>
.index-container {
  padding: 40px;
}

h1 {
  margin: 40px;
  text-align: center;
}

.carousel-index {
  margin-top: 100px;
}

.notice {
  margin-top: 30px;
  padding: 20px;
}

.card1-title-index {
    background: mediumvioletred;
}

.card2-title-index {
    background: #ffca28!important;
}

.card3-title-index {
    background: #26c6da!important;
}

.card4-title-index {
    background: #ef5350!important;
}

.card5-title-index {
    background: #66bb6a!important;
}

.v-timeline-item__dot {
    background: mediumvioletred !important;
}

.header-notice {
    padding: 50px;
    .line-notice {
        border-color: #ff1744;
    }
}

.see-more {
    background: mediumvioletred;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
}

.video {
  height: 500px !important;
  width: 100%;
}
</style>
