<template>
    <div class="content">
        <h1>{{benefit.name}}</h1>
        <p>{{benefit.shortDescription}}</p>
        <p>{{benefit.longDescription}}</p>
        <img :src="benefits[1].image" alt="image">
    </div>
</template>


<script>
import Vue from 'vue';

export default Vue.extend({
    computed: {
        benefit () {
            return this.$store.state.data.benefit;
        },

        benefits () {
            return this.$store.state.data.benefits;
        }
    },
    mounted () {
        console.log(this.benefit);   
    }
})
</script>

<style lang='scss' scope>
    .content {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 1000px;
        padding: 100px;
        color: $light-primary;
        box-shadow: inset 0 0 80vw 0vw rgb(84, 84, 153);
        img{
            box-shadow: 0.5vw 0.5vw 1vw 0 black;
            margin-top: 5vw;
            @media screen and (min-width: 700px) {
                width: 500px;
            }
        }
        h1{
            margin-top: 4.5vw;
            margin-bottom: 5vw;
            color: $primary;
            text-shadow: 0.2vw 0.2vw 0.1vw black;

        }
        p{
            text-shadow: 0.1vw 0.1vw 0.1vw black;
            @media screen and (min-width: 1000px) {
                padding-left: 20vw;
                padding-right: 20vw;
            }
        }
    }
</style>