<template>
    <div class="total">
        <b-row align-v="center" align-h="center">
            <b-col col lg="4" sm="12" align-self="center">
                <div class="contenedor">
                    <form @submit.prevent="loginUser()">
                        <div class="container-logo">
                            <img class="logo" src="../assets/imgs/logo.png" alt="FInding Jobs">
                        </div>
                        <h1>INICIAR SESIÓN</h1>
                        <div class="container-form p-5">
                            <div class="group-input">
                                <label>Usuario</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user-circle']" class="icon"/>
                                    <md-input v-model="user" @keyup="userErrorFun()"/>
                                </md-field>
                                <div class="error">{{ userError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Contraseña</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'key']" class="icon"/>
                                    <md-input v-model="password" type="password" @keyup="passwordErrorFun()"/>
                                </md-field>
                                <div class="error">{{ passError }}</div>
                            </div>
                            <b-button type="submit">INICIAR SESIÓN</b-button>
                        </div>
                        
                    </form>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from 'vue';
import { apiFetch } from "@/utils/apiFetch";
import { queryAuthUser } from '@/ts/queries';
import { isEmpty, isNumeric, isRangeLength } from '@/utils/validations';
import { showAlert } from '@/utils/alerts';
import SHA1 from 'sha1-es';


export default Vue.extend({
    data() {
        return {
            user: null,
            password: null,
            userError: null,
            passError: null
        }
    },
    computed: {
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        }
    },
    mounted () {
        if (this.authenticated) {
            this.$router.push('/');
        }
        this.$store.commit('sessionStorage/setSearch', false);
        this.$store.commit('data/setOptionsMenu', {
            login: false,
            register: true
        });
    },
    methods: {
        loginUser () {
            if (this.validateForm()) {
                const data = {
                    user: this.user,
                    password: SHA1.hash( this.password )
                };
                apiFetch(queryAuthUser, data).then( (res) => {
                    if (res && res.data && res.data.users && res.data.users.length) {
                        const userLogin = res.data.users[0];
                        this.$store.commit('sessionStorage/setAuthenticated', true);
                        this.$store.commit('sessionStorage/setUser', userLogin);
                        showAlert('Inició sesión correctamente.', 'success', this, () => {
                            this.$router.push('/');
                        });
                    } else {
                        showAlert('No fue posible iniciar sesión.', 'error', this);
                    }
                } ).catch( (err) => {
                    showAlert('No fue posible iniciar sesión.', 'error', this);
                    console.log(err);
                } );
            }
        },
        validateForm () {
            let isValid = !this.userErrorFun()
            isValid = !this.passwordErrorFun() && isValid;
            return isValid;
        },
        userErrorFun () {
            this.userError = isEmpty('Usuario', this.user);
            this.userError = this.userError ? this.userError : isRangeLength('Usuario', this.user, 3);
            return this.userError;
        },
        passwordErrorFun () {
            this.passError = isEmpty('Contraseña', this.password);
            this.passError = this.passError ? this.passError : isRangeLength('Contraseña', this.password, 8, 16);
            return this.passError;
        }
    }
})
</script>

<style lang='scss' scope>
    .total {
        background: $light-primary;
        height: 110vh;
        .row {
            width: 100%;
            height: 100%;
            .contenedor {
                padding: 20px 10px;
                background: $secondary;
                .container-logo {
                    margin: auto;
                    width: 100px;
                    .logo {
                        width: 100px;
                        margin: auto;
                        color: $light-primary;
                    }
                }
                h1 {
                    color: $light-primary;
                    font-size: 4vh;
                    text-align: center;
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                }
                .container-form {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                }
                .btn {
                    background-color: $primary;
                    width: 100%;
                    border-radius: 10px;
                    &:hover {
                        background-color: $light-primary;
                        color: $primary;
                    }
                }
            }
        }
    }
</style>
