<template>
    <div class="total">
        <b-row align-v="center" align-h="center">
            <b-col col lg="8" sm="12" align-self="center">
                <div class="contenedor">
                    <form @submit.prevent="registerUser()">
                        <div class="container-logo">
                            <img class="logo" src="http://www.uniagraria.edu.co/wp-content/uploads/2015/10/COP.png" alt="FInding Jobs">
                        </div>
                        <h1>CREAR USUARIO</h1>
                        <div class="container-form">
                            <div class="group-input">
                                <label>Nombres</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-input v-model="firstName" @keyup="firstNameErrorFun()" />
                                </md-field>
                                <div class="error">{{ firstNameError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Apellidos</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user']" class="icon"/>
                                    <md-input v-model="lastName" @keyup="lastNameErrorFun()"/>
                                </md-field>
                                <div class="error">{{ lastNameError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Usuario</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'user-circle']" class="icon"/>
                                    <md-input v-model="user" @keyup="userErrorFun()"/>
                                </md-field>
                                <div class="error">{{ userError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Tipo de Usuario</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'hand-pointer']" class="icon"/>
                                    <md-select v-model="role" @md-selected="roleErrorFun()">
                                        <md-option :value="item.id"
                                            v-for="(item, index) in roles"
                                            :key="index">
                                            {{ item.name }}
                                        </md-option>
                                    </md-select>
                                </md-field>
                                <div class="error">{{ roleError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Correo Electronico</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'envelope-open-text']" class="icon"/>
                                    <md-input v-model="email" @keyup="emailErrorFun()"/>
                                </md-field>
                                <div class="error">{{ emailError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Fecha de Nacimiento</label>
                                <md-datepicker v-model="birthDate" @input="birthDateErrorFun()"/>
                                <div class="error">{{ birthDateError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Dirección</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'address-card']" class="icon"/>
                                    <md-input v-model="address" @keyup="addressErrorFun()"/>
                                </md-field>
                                <div class="error">{{ addressError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Ciudad</label>
                                <md-field md-clearable>
                                    <font-awesome-icon :icon="['fas', 'city']" class="icon"/>
                                    <md-input v-model="city" @keyup="cityErrorFun()"/>
                                </md-field>
                                <div class="error">{{ cityError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Contraseña</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'key']" class="icon"/>
                                    <md-input v-model="password" type="password" @keyup="passwordErrorFun()"/>
                                </md-field>
                                <div class="error">{{ passwordError }}</div>
                            </div>
                            <div class="group-input">
                                <label>Confirmar Contraseña</label>
                                <md-field>
                                    <font-awesome-icon :icon="['fas', 'check-double']" class="icon"/>
                                    <md-input v-model="passwordConf" type="password" @keyup="passwordConfErrorFun()"/>
                                </md-field>
                                <div class="error">{{ passwordConfError }}</div>
                            </div>
                        </div>
                        <b-button type="submit">GUARDAR</b-button>
                    </form>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import Vue from 'vue';
import { setDatePickerVars } from '@/utils/material';
import { isEmpty, isNumeric, isEmail, isRangeLength, isConfPassword, existVal } from '@/utils/validations';
import { createUser } from '@/ts/mutations';
import { apiFetch } from '@/utils/apiFetch';
import { showAlert } from '@/utils/alerts';
import SHA1 from 'sha1-es';

export default Vue.extend({
    data: () => ({
        firstName: null,
        lastName: null,
        user: null,
        role: null,
        email: null,
        birthDate: null,
        address: null,
        city: null,
        password: null,
        passwordConf: null,
        firstNameError: null,
        lastNameError: null,
        userError: null,
        roleError: null,
        emailError: null,
        birthDateError: null,
        addressError: null,
        cityError: null,
        passwordError: null,
        passwordConfError: null
    }),
    computed: {
        roles() {
            return this.$store.state.sessionStorage.roles;
        },
        users() {
            return this.$store.state.sessionStorage.allUsers;
        },
        authenticated () {
            return this.$store.state.sessionStorage.authenticated;
        }
    },
    beforeMount () {
        if (this.authenticated) {
            this.$router.push('/');
        }
        this.$store.commit('sessionStorage/setSearch', false);
        this.$store.commit('data/setOptionsMenu', {
            login: true,
            register: false,
            search: false
        });
        setDatePickerVars(this.$material);
    },
    methods: {
        registerUser () {
            if (this.isValidForm()) {
                const data = {
                    firstName: this.firstName.trim(),
                    lastName: this.lastName.trim(),
                    user: this.user.trim().toLowerCase(),
                    role: this.role,
                    email: this.email.trim().toLowerCase(),
                    birthDate: this.birthDate.toISOString(),
                    address: this.address.trim(),
                    city: this.city.trim(),
                    password: SHA1.hash(this.password)
                };
                apiFetch(createUser(data), null).then((res) => {
                    showAlert('Usted ha sido registrado existosamente.', 'success', this, () => {
                        this.$router.push('/');
                    });
                }).catch((err) => {
                    showAlert('No se pudo registrar al usuario, intentelo mas tarde.', 'error', this);
                    console.log(err);
                });
            }
        },
        isValidForm () {
            let isValid = !this.firstNameErrorFun();
            isValid = !this.lastNameErrorFun() && isValid;
            isValid = !this.userErrorFun() && isValid;
            isValid = !this.roleErrorFun() && isValid;
            isValid = !this.emailErrorFun() && isValid;
            isValid = !this.birthDateErrorFun() && isValid;
            isValid = !this.addressErrorFun() && isValid;
            isValid = !this.cityErrorFun() && isValid;
            isValid = !this.passwordErrorFun() && isValid;
            isValid = !this.passwordConfErrorFun() && isValid;
            return isValid;
        },
        firstNameErrorFun () {
            this.firstNameError = isEmpty('Nombres', this.firstName);
            this.firstNameError = this.firstNameError ? this.firstNameError : isRangeLength('Nombres', this.firstName, 3);
            return this.firstNameError;
        },
        lastNameErrorFun () {
            this.lastNameError = isEmpty('Apellidos', this.lastName);
            this.lastNameError = this.lastNameError ? this.lastNameError : isRangeLength('Apellidos', this.lastName, 3);
            return this.lastNameError;
        },
        userErrorFun () {
            this.userError = isEmpty('Usuario', this.user);
            this.userError = this.userError ? this.userError : isRangeLength('Usuario', this.user, 3);
            this.userError = this.userError ? this.userError : existVal('Usuario', this.user, this.users, true, false, ['user']);
            return this.userError;
        },
        roleErrorFun () {
            this.roleError = isEmpty('Tipo de Usuario', this.role);
            return this.roleError;
        },
        emailErrorFun () {
            this.emailError = isEmpty('Correo Electronico', this.email);
            this.emailError = this.emailError ? this.emailError : isEmail('Correo Electronico', this.email);
            return this.emailError;
        },
        birthDateErrorFun () {
            this.birthDateError = isEmpty('Fecha de Nacimiento', this.birthDate);
            return this.birthDateError;
        },
        addressErrorFun () {
            this.addressError = isEmpty('Dirección', this.address);
            this.addressError = this.addressError ? this.addressError : isRangeLength('Dirección', this.address, 3);
            return this.addressError;
        },
        cityErrorFun () {
            this.cityError = isEmpty('Ciudad', this.city);
            this.cityError = this.cityError ? this.cityError : isRangeLength('Ciudad', this.city, 3);
            return this.cityError;
        },
        passwordErrorFun () {
            this.passwordError = isEmpty('Contraseña', this.password);
            this.passwordError = this.passwordError ? this.passwordError : isRangeLength('Contraseña', this.password, 8, 16);
            return this.passwordError;
        },
        passwordConfErrorFun () {
            this.passwordConfError = isEmpty('Confirmar Contaseña', this.passwordConf);
            this.passwordConfError = this.passwordConfError ? this.passwordConfError : isConfPassword('Conraseñas', this.password, this.passwordConf);
            return this.passwordConfError;
        }
    }
})
</script>

<style lang='scss' scope>
    .total {
        background: $light-primary;
        height: 120vh;
        .row {
            width: 100%;
            height: 100%;
            .contenedor {
                padding: 20px 10px;
                background: $secondary;
                .container-logo {
                    margin: auto;
                    width: 100px;
                    .logo {
                        width: 100px;
                        margin: auto;
                        color: $light-primary;
                    }
                }
                h1 {
                    color: $light-primary;
                    font-size: 4vh;
                    text-align: center;
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                }
                .container-form {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                    .group-input {
                        width: 50%;
                        @media screen and (max-width: 991px){
                            width: 100%;
                        }
                    }
                }
                .btn {
                    background-color: $primary;
                    width: 100%;
                    border-radius: 10px;
                    &:hover {
                        background-color: $light-primary;
                        color: $primary;
                    }
                }
            }
        }
    }
</style>
